@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>Register Page</h2>

<form action="/MyHome/Register" method="post">
    <input type="text" name="username" value="" />
    <input type="text" name="password" value="" />
    <input type="submit" value="Register"/>
</form>
