@{
    ViewData["Title"] = "Privacy Policy";
}


<h2>Login Page</h2>

<form action="/MyHome/Login" method="post">
    <input type="text" name="username" value="" />
    <input type="text" name="password" value="" />
    <input type="submit" value="Login"/>
</form>
